.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
body{
    background-color:grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cim{
    font-variant: small-caps;
}
.card-footer{
    border-top:none
}